@import url('https://fonts.googleapis.com/css?family=Handlee|Muli:400,600,700,700i,800,800i,900,900i&display=swap');

.App {
  text-align: center; 
  font-family: 'Muli', sans-serif;

}

body {
  font-family: 'Muli', sans-serif;
}

.text-long {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 65%;
}

.resources-list {
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 20%;
}

.drifting-logo {
  width: 40vw;
}

/* https://codepen.io/MarioDesigns/pen/woJgeo */
.floating-bottle {
  height: 100px;
  animation: float 6s ease-in-out infinite;
}

.bottleholder {
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-6px);
	}
	100% {
		transform: translatey(0px);
	}
}


.title {
  align-content: left;

}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 12pt;
  color: black;
}

.home-desc {
  margin-top: 3vh;
}

.hp1 {
  font-family: 'Handlee', cursive;
  color: #6271DD;
  font-size: 2vh;
}

.hp2 {
  font-family: 'Muli', sans-serif;
  color: #58B8E3;
  font-size: 1.5vh;
}

.hp3 {
  font-family: 'Handlee', cursive;
  color: #798489;
  font-size: 3vh;
}


/*from here*/

#navbarhome {
  padding: 3% 5% 0 5%;
}

.nalinks {
  text-align: right;
  float: right;
  margin: 0;
}
.navBrand {
  padding-top: 15px;
}

.navLink {
  display: block;
  padding-top: 8px;
  padding-left: 10px;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #FC7373;
  text-decoration: none;
  text-align: right;
  float: right;
}

.nav-item {
  margin-left: 50px;
}



.navLink:hover {
  color: #9DD3ED;
  text-decoration: none;
  font-style: italic;
}

a {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #FC7373 !important; 
  text-decoration: none; 
}

a:hover {
  color: #9DD3ED !important;
  text-decoration: none !important;
  font-style: italic;
}

.navbar-collapse {
  text-align: right;
}

/*ends here*/

.App-link {
  color: #61dafb;
}

.links-nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#main {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Muli', sans-serif;
}


.App-header {
  /* display: none;*/
}

body {
 justify-content: center;
 /* font-size: calc(10px + 2vmin); */
 font-size: 12pt;
 color: black;
}

.forumSubmission {
   background: rgba(red, green, blue, 0);
}

.form-control {
  width: 80% !important;
}

/* width */
::-webkit-scrollbar {
   width: 0 !important
}
 
 /* Track */
/*   ::-webkit-scrollbar-track {
   background: rgba(255, 255, 255, 0.84); 
 } */
  
 /* Handle */
/*   ::-webkit-scrollbar-thumb {
   background: #00A2FF; 
 } */



html, body {
  scroll-behavior: smooth;
  background-image: url("drft-bg-01.jpg"); 
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom; 
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


/* Exercises to scroll left-right */
#exercise {
   background: rgba(255, 255, 255, 0.7);
   width: 100vw;
   /* color: #7A6085; */
   overflow-y: hidden;
   height: 60vh;

   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   align-items: center;
   align-content: center;
   justify-content: space-between;

   scroll-snap-type: mandatory;
   scroll-snap-points-x: repeat(300px);
   scroll-snap-type: x mandatory;
}

.list {
    display: block;
    padding-top: 8px;
    padding-left: 10px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
  
    color: #FC7373;
    text-decoration: none;
  }
  
.list:hover {
    color: #9DD3ED;
    text-decoration: none;
    font-style: italic;
    
}

#exercise label {
  font-size: 20px;
  font-weight: bold;
}

.child {
   width: 100%;
   margin: 0 auto 0 auto;
   flex: 0 0 auto;
   scroll-snap-align: start;
   align-self: center;
}

/* textbox input sizing */
.box-input {
  width: 75%;
  margin: auto;
}

.q-desc {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 10pt;
  text-align: left;
}

/* CSS Fading effects */
/*https://fvsch.com/transition-fade/test5.html#test3*/
.visible {
   display: "block";
   visibility: visible;
   opacity: 1;
   transition: opacity 1.5s linear;
 }

 .visible-t {
  display: "block";
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.hidden {
   opacity: 0;
   visibility: hidden;
   transition: opacity 1s ease-in;
 }

 .hidden-t {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in;
  display: none;
}


.mindfulness {
  width: 80%;
  margin: auto;
}

.description {
   margin: auto;
   font-size: 12pt;
   text-align: center;
}

#nav-links {
   font-size: 10pt;
   margin-bottom: 10px;
   position: fixed;
   margin: auto;
   top: 0;
   width: 100%;

}

.gallery-header {
  /*position: fixed;*/
  margin: auto;
  width: 80%;
  z-index: 800;
}

.sublink {
  width: 30%;
  align-self: center;
}

/* The progress container (grey background) */
.progress-container {
   width: 100%;
   height: 8px;
   background: #FFFFFF;
   margin: auto;
 }
 
 /* The progress bar (scroll indicator) */
 .progress-bar {
   height: 8px;
   background: #007bff;
   width: 0%;
 }

.description-checkbox {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 10%;
  padding-top: 8%;
}


/* prompts for the encouragement */
.prompt {
  width: 80%;
  text-align: left;
  margin: auto;
}

#guide ul, ol {
  text-align: left;
  margin: auto;
  display: table;
}

.suggestions {
  display: flex;
  text-align: left;
  width: 80%;
  margin: auto;
  padding-bottom: 20px; 
}


#prompt-box {
  width: 50%;
  flex: 2;
  height: 100px;
}

#prompt-btn-holder {
  align-self: flex-start;
  margin-left: 30px;
}

.disclaimer {
  background-color: #9DD3ED;
  font-size: 0.7vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  padding-top: auto;
  padding-bottom: auto;
  z-index: 0;
  text-align: center;
}

.distext {
  padding-top: 5px;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  color: #6271DD;
  
}
.tac {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  color: #6271DD;
  
}
.tac:hover {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;

  
}

/*Mood Card*/
.card {
  align-content: center;
  justify-content: center;
}
.card-mood {
  padding-top: 8px;
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  color: #9dd3ed;
}

.card-text {
  font-family: 'Handlee', cursive;
  color: #6271DD;
}

#emergency {
  background: rgba(255, 255, 255, 0.7);
}

.openb p {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  margin: auto;
}

.card-title {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #58B8E3;
}
.card-answer {
  font-family: 'Handlee', cursive;
  font-size: 24px;
  color: #6271DD;
}

.card-info {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: right;
  color: #FC7373;
}
